body{
	background-color: #41B3A3
}

p{
	margin-left: 50px;
	margin-right: 50px;
	font-style: italic;
	font-family: Courier, monospace
}

h1{
	text-align: center;
	font-family: Apple Chancery, cursive;
}

.row{
	width: 100%
}

@media (min-width: 992px){
	.col-l{
		float: left;
		border: 4px solid green;
		width: 30%
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.col-m1{
		float: left;
		border: 4px solid black;
		width: 80%;
	}
	.col-m{
		float: left;
		border: 4px solid black;
		width: 40%;
	}
}

@media (max-width: 767px){
	.col-s{
		float: left;
		border: 4px solid blue;
		width: 100%
	}
}



.pa{
	background-color: #E8A87C;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}


